{% extends "base.html" %}
{% block content %}
	<div class="title-div">
		<span>{{title}}</span>
	</div>
	<div>
		<textarea class="requirements-ta" name="textarea-requirement" rows="50">{{requirements_content}}</textarea>
	</div>
	<div class="submit-div">
		<div class="rcb-div">
			<input type="checkbox" class="requirements-cb">
			<div class="understand-div"><span>I understand the requirements</span></div>
		</div>
		
		<form action="{% url 'information' %}" method="GET" class="submit-form">
			<button class="requirement-continue submit-btn" disabled>Continue</button>
		</form>
	</div>
{% endblock %}